.team {
    border: 2px solid #2A9DF4;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: transparent;
    color: white;
}

.team * {
    background-color: transparent;
}

.sub-team{
    margin: 2px;
    display:flex;
    justify-content: space-around;
    border-radius: 20px;
}

.member{
    color: white;
    border-radius: 20px;
}

.member ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}

.member ul li img{
    height: 20px;
    width: 20px;
}

.member img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
}

.line1, .line2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-radius: 20px;
}

.members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: inherit;
}

.committee {
    margin: 20px 0;
    background-color: inherit;
}

.committee h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    background-color: inherit;
}

.executive-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: inherit;
    margin-bottom: 20px;
}

@media(max-width: 720px){
    .member h1{
        font-size: 20px;
    }

    .member p{
        font-size: 15px;
    }

    .members-container,
    .executive-team {
        flex-direction: column;
        align-items: center;
    }

    .member {
        width: 80%;
    }

    .member p {
        font-size: 1rem;
    }

    .member h1 {
        font-size: 1.2rem;
    }
}