.committee-navs{
    margin: 5px 0 5px 0;
    max-height: 40px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin: 0;
    padding: 0;
}

.committee-navs ul {
    display: flex;
    border-radius: 50px;
    border: 1px solid white;
    border-top: none;
}

.committee-navs ul li {
    cursor: pointer;
    list-style: none; 
    font-weight: bold;
    color: rgb(177, 169, 169);
    margin: 0 10px;
    font-family: "Roboto", sans-serif;
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    display: flex; 
    align-items: center; 
}

.committee-navs ul li a {
    text-decoration: none; 
    color: inherit; 
}

.committee-navs .active{
    border-bottom: 2px solid #2A9DF4;
}

@media(max-width:580px){
    .committee-navs ul li{
        font-size: 15px;
    }
}

@media(max-width:460px){
    .committee-navs ul li{
        font-size: 10px;
    }
}