.coding-header {
    margin-top: 20px;
    display: flex;
    background-color: #0a0b1e;
    color: #ffffff;
    width: 100%;
    overflow: hidden;
    border: 1px solid #2A9DF4;
    border-radius: 20px;
    padding: 50px;
    position: relative;
}

.upcoming-contests * {
    background-color: inherit;
}

.coding-header .coding-image,
.coding-header .coding-image-2 {
    position: absolute;
    top: 0;
    transform: scale(1.5);
    background-color: transparent;
}

.coding-header .coding-image {
    right: 0;
    transform-origin: top right;
}

.coding-header .coding-image-2 {
    left: 100%;
    transform-origin: bottom left;
}

.coding-banner {
    position: relative;
    background-color: transparent;
    z-index: 2;
}

.coding-header button,
.event-info a button {
    border: none;
    padding: 10px 35px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.coding-header button {
    background-color: #1c7ed6;
    color: black;
}

.coding-header button:hover {
    background-color: #1565c0;
}

.coding-banner h1,
.upcoming-contests h1 {
    font-size: 3.5rem;
    background-color: transparent;
}

.button-group {
    margin: 40px 0;
    display: flex;
    width: 100%;
    gap: 50px;
    align-items: center;
    background-color: transparent;
}

.event-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 5px;
    border-radius: 30px;
}

.event-info span {
    font-size: 1.5rem;
    margin: 0 25px;
    font-weight: 600;
    background-color: transparent;
}

.event-info a {
    border-radius: 30px;
}

.event-info a button {
    background-color: #66FF00;
}

.event-info a button:hover {
    background-color: #4cd900;
}

.upcoming-contests {
    padding: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.upcoming-contests h1 {
    margin-bottom: 25px;
    color: #ffffff;
}

.upcoming-contests .contest-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 100%;
}

@media (max-width: 1900px) {
    .coding-header .coding-image-2 {
        left: 0;
        opacity: 0.4;
        z-index: -1;
        transform-origin: bottom right;
    }

    .coding-banner {
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .coding-header .coding-image {
        opacity: 0.4;
        z-index: 1;
    }

    .upcoming-contests h1 {
        font-size: 2.5rem;
    }

    .upcoming-contests .contest-card {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1000px) {
    .coding-header .coding-image-2 {
        display: none;
    }
}

@media (max-width: 800px) {
    .coding-banner h1 {
        font-size: 3rem;
    }

    .coding-banner button {
        font-size: 1.5rem;
    }

    .coding-header .coding-image,
    .coding-header .coding-image-2 {
        transform: scale(1);
    }

    .event-info span {
        font-size: 1rem;
    }

    .coding-header {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .coding-banner h1,
    .upcoming-contests h1 {
        font-size: 2rem;
    }
    
    .coding-banner button {
        padding: 10px 25px;
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .coding-banner h1,
    .upcoming-contests h1 {
        font-size: 1.5rem;
    }
    
    .coding-banner button {
        padding: 10px 20px;
        font-size: 0.5rem;
    }

    .coding-banner span {
        font-size: 0.5rem;
    }
}
